# 物品ID到图标文件名的映射配置
# 格式：物品ID = 图标文件名

# 工具和武器
WOODEN_SWORD = wood_sword.png
STONE_SWORD = stone_sword.png
IRON_SWORD = iron_sword.png
GOLDEN_SWORD = gold_sword.png
GOLD_SWORD = gold_sword.png
DIAMOND_SWORD = diamond_sword.png
WOODEN_PICKAXE = wood_pickaxe.png
STONE_PICKAXE = stone_pickaxe.png
IRON_PICKAXE = iron_pickaxe.png
GOLDEN_PICKAXE = gold_pickaxe.png
GOLD_PICKAXE = gold_pickaxe.png
DIAMOND_PICKAXE = diamond_pickaxe.png
WOODEN_AXE = wood_axe.png
STONE_AXE = stone_axe.png
IRON_AXE = iron_axe.png
GOLDEN_AXE = gold_axe.png
GOLD_AXE = gold_axe.png
DIAMOND_AXE = diamond_axe.png
WOODEN_SHOVEL = wood_shovel.png
STONE_SHOVEL = stone_shovel.png
IRON_SHOVEL = iron_shovel.png
GOLDEN_SHOVEL = gold_shovel.png
GOLD_SHOVEL = gold_shovel.png
DIAMOND_SHOVEL = diamond_shovel.png
WOODEN_HOE = wood_hoe.png
STONE_HOE = stone_hoe.png
IRON_HOE = iron_hoe.png
GOLDEN_HOE = gold_hoe.png
GOLD_HOE = gold_hoe.png
DIAMOND_HOE = diamond_hoe.png
BOW = bow_standby.png
FISHING_ROD = fishing_rod_uncast.png
SHEARS = shears.png
FLINT_AND_STEEL = flint_and_steel.png

# 盔甲
LEATHER_HELMET = leather_helmet.png
LEATHER_CHESTPLATE = leather_chestplate.png
LEATHER_LEGGINGS = leather_leggings.png
LEATHER_BOOTS = leather_boots.png
CHAINMAIL_HELMET = chainmail_helmet.png
CHAINMAIL_CHESTPLATE = chainmail_chestplate.png
CHAINMAIL_LEGGINGS = chainmail_leggings.png
CHAINMAIL_BOOTS = chainmail_boots.png
IRON_HELMET = iron_helmet.png
IRON_CHESTPLATE = iron_chestplate.png
IRON_LEGGINGS = iron_leggings.png
IRON_BOOTS = iron_boots.png
GOLDEN_HELMET = gold_helmet.png
GOLDEN_CHESTPLATE = gold_chestplate.png
GOLDEN_LEGGINGS = gold_leggings.png
GOLDEN_BOOTS = gold_boots.png
GOLD_HELMET = gold_helmet.png
GOLD_CHESTPLATE = gold_chestplate.png
GOLD_LEGGINGS = gold_leggings.png
GOLD_BOOTS = gold_boots.png
DIAMOND_HELMET = diamond_helmet.png
DIAMOND_CHESTPLATE = diamond_chestplate.png
DIAMOND_LEGGINGS = diamond_leggings.png
DIAMOND_BOOTS = diamond_boots.png
ELYTRA = elytra.png
BROKEN_ELYTRA = broken_elytra.png
SHIELD = empty_armor_slot_shield.png

# 食物和消耗品
APPLE = apple.png
GOLDEN_APPLE = apple_golden.png
BREAD = bread.png
PORKCHOP = porkchop_raw.png
COOKED_PORKCHOP = porkchop_cooked.png
GRILLED_PORK = porkchop_cooked.png
COOKIE = cookie.png
MELON = melon.png
BEEF = beef_raw.png
COOKED_BEEF = beef_cooked.png
RAW_BEEF = beef_raw.png
CHICKEN = chicken_raw.png
COOKED_CHICKEN = chicken_cooked.png
RAW_CHICKEN = chicken_raw.png
CARROT = carrot.png
GOLDEN_CARROT = carrot_golden.png
CARROT_ON_A_STICK = carrot_on_a_stick.png
POTATO = potato.png
POTATO_ITEM = potato.png
BAKED_POTATO = potato_baked.png
MUSHROOM_STEW = mushroom_stew.png
CAKE = cake.png
PUMPKIN_PIE = pumpkin_pie.png
ROTTEN_FLESH = rotten_flesh.png
CHORUS_FRUIT = chorus_fruit.png
CHORUS_FRUIT_POPPED = chorus_fruit_popped.png
POISONOUS_POTATO = potato_poisonous.png
BEETROOT = beetroot.png
BEETROOT_SOUP = beetroot_soup.png
BEETROOT_SEEDS = beetroot_seeds.png
RABBIT_STEW = rabbit_stew.png
SPIDER_EYE = spider_eye.png
FERMENTED_SPIDER_EYE = spider_eye_fermented.png
COD = fish_cod_raw.png
COOKED_COD = fish_cod_cooked.png
RAW_FISH = fish_cod_raw.png
COOKED_FISH = fish_cod_cooked.png
SALMON = fish_salmon_raw.png
COOKED_SALMON = fish_salmon_cooked.png
TROPICAL_FISH = fish_clownfish_raw.png
PUFFERFISH = fish_pufferfish_raw.png
RABBIT = rabbit_raw.png
COOKED_RABBIT = rabbit_cooked.png
MUTTON = mutton_raw.png
COOKED_MUTTON = mutton_cooked.png
BOWL = bowl.png
MILK_BUCKET = bucket_milk.png
WATER_BUCKET = bucket_water.png
LAVA_BUCKET = bucket_lava.png

# 重要物品和材料
ARROW = arrow.png
COAL = coal.png
CHARCOAL = charcoal.png
DIAMOND = diamond.png
IRON_INGOT = iron_ingot.png
GOLD_INGOT = gold_ingot.png
EMERALD = emerald.png
STICK = stick.png
STRING = string.png
FEATHER = feather.png
GUNPOWDER = gunpowder.png
SULPHUR = gunpowder.png
WHEAT = wheat.png
WHEAT_SEEDS = wheat_seeds.png
FLINT = flint.png
REDSTONE = redstone_dust.png
GLOWSTONE_DUST = glowstone_dust.png
EGG = egg.png
LAPIS_LAZULI = dye_powder_blue.png
COMPASS = compass_16.png
CLOCK = clock_00.png
WATCH = clock_00.png
SUGAR = sugar.png
ENDER_PEARL = ender_pearl.png
CLAY_BALL = clay_ball.png
LEATHER = leather.png
BLAZE_ROD = blaze_rod.png
BLAZE_POWDER = blaze_powder.png
MAGMA_CREAM = magma_cream.png
BREWING_STAND = brewing_stand.png
CAULDRON = cauldron.png
BOOK = book_normal.png
ENCHANTED_BOOK = book_enchanted.png
WRITTEN_BOOK = book_written.png
WRITABLE_BOOK = book_writable.png
PAPER = paper.png
QUARTZ = quartz.png
NETHER_BRICK = netherbrick.png
NETHER_STAR = nether_star.png
SADDLE = saddle.png
IRON_HORSE_ARMOR = iron_horse_armor.png
GOLDEN_HORSE_ARMOR = gold_horse_armor.png
DIAMOND_HORSE_ARMOR = diamond_horse_armor.png
BUCKET = bucket_empty.png
MINECART = minecart_normal.png
OAK_BOAT = boat_oak.png
BIRCH_BOAT = birch_boat.png
ACACIA_BOAT = acacia_boat.png
WOODEN_DOOR = door_wood.png
IRON_DOOR = door_iron.png
EXPERIENCE_BOTTLE = experience_bottle.png
ENDER_EYE = ender_eye.png
GHAST_TEAR = ghast_tear.png
NETHER_WART = nether_wart.png
BONE = bone.png
BARRIER = barrier.png

# 药水和特殊物品
POTION = potion_bottle_drinkable.png
SPLASH_POTION = potion_bottle_splash.png
LINGERING_POTION = potion_bottle_lingering.png
DRAGON_BREATH = dragon_breath.png
DRAGONS_BREATH = dragon_breath.png
SPAWN_EGG = spawn_egg.png
FIREWORK_ROCKET = fireworks.png
FIREWORK_STAR = fireworks_charge.png
FIREWORK_CHARGE = fireworks_charge.png
FIREWORK = fireworks.png
MAP = map_empty.png
FILLED_MAP = map_filled.png
BANNER = banner_overlay.png
SIGN = sign.png
NAME_TAG = name_tag.png
MUSIC_DISC_11 = record_11.png
MUSIC_DISC_13 = record_13.png
MUSIC_DISC_BLOCKS = record_blocks.png
MUSIC_DISC_CAT = record_cat.png
MUSIC_DISC_CHIRP = record_chirp.png
MUSIC_DISC_FAR = record_far.png
MUSIC_DISC_MALL = record_mall.png
MUSIC_DISC_MELLOHI = record_mellohi.png
MUSIC_DISC_STAL = record_stal.png
MUSIC_DISC_STRAD = record_strad.png
MUSIC_DISC_WAIT = record_wait.png
MUSIC_DISC_WARD = record_ward.png
SKELETON_SKULL = skull_skeleton.png
WITHER_SKELETON_SKULL = skull_wither.png
ZOMBIE_HEAD = skull_zombie.png
PLAYER_HEAD = skull_char.png
CREEPER_HEAD = skull_creeper.png
GLASS_BOTTLE = potion_bottle_empty.png
LEAD = lead.png
SLIME_BALL = slimeball.png

# 染料
BLACK_DYE = dye_powder_black.png
BLUE_DYE = dye_powder_blue.png
BROWN_DYE = dye_powder_brown.png
CYAN_DYE = dye_powder_cyan.png
GRAY_DYE = dye_powder_gray.png
GREEN_DYE = dye_powder_green.png
LIGHT_BLUE_DYE = dye_powder_light_blue.png
LIME_DYE = dye_powder_lime.png
MAGENTA_DYE = dye_powder_magenta.png
ORANGE_DYE = dye_powder_orange.png
PINK_DYE = dye_powder_pink.png
PURPLE_DYE = dye_powder_purple.png
RED_DYE = dye_powder_red.png
LIGHT_GRAY_DYE = dye_powder_silver.png
WHITE_DYE = dye_powder_white.png
YELLOW_DYE = dye_powder_yellow.png

# 头颅特殊处理
SKULL_ITEM:0 = skull_skeleton.png
SKULL_ITEM:1 = skull_wither.png
SKULL_ITEM:2 = skull_zombie.png
SKULL_ITEM:3 = skull_char.png
SKULL_ITEM:4 = skull_creeper.png

# 补充可能的头颅ID映射
SKULL = skull_skeleton.png
SKULL:0 = skull_skeleton.png
SKULL:1 = skull_wither.png
SKULL:2 = skull_zombie.png
SKULL:3 = skull_char.png
SKULL:4 = skull_creeper.png
SKELETON_HEAD = skull_skeleton.png
HEAD = skull_char.png
PLAYER_SKULL = skull_char.png
ZOMBIE_SKULL = skull_zombie.png
CREEPER_SKULL = skull_creeper.png
HEAD_ITEM = skull_char.png
HEAD_ITEM:3 = skull_char.png
MOB_HEAD = skull_char.png
MOB_HEAD:0 = skull_skeleton.png
MOB_HEAD:1 = skull_wither.png
MOB_HEAD:2 = skull_zombie.png
MOB_HEAD:3 = skull_char.png
MOB_HEAD:4 = skull_creeper.png

# 补充旧版本金装备ID
GOLD_SPADE = gold_shovel.png
GOLDEN_SPADE = gold_shovel.png

# 额外补充
SUGAR_CANE = reeds.png
PRISMARINE_CRYSTALS = prismarine_crystals.png
PRISMARINE_SHARD = prismarine_shard.png 