# 物品转译表配置文件
# 格式：物品ID = 中文名称

# 工具和武器
WOODEN_SWORD = 木剑
STONE_SWORD = 石剑
IRON_SWORD = 铁剑
GOLDEN_SWORD = 金剑
GOLD_SWORD = 金剑
DIAMOND_SWORD = 钻石剑
WOODEN_PICKAXE = 木镐
STONE_PICKAXE = 石镐
IRON_PICKAXE = 铁镐
GOLDEN_PICKAXE = 金镐
GOLD_PICKAXE = 金镐
DIAMOND_PICKAXE = 钻石镐
WOODEN_AXE = 木斧
STONE_AXE = 石斧
IRON_AXE = 铁斧
GOLDEN_AXE = 金斧
GOLD_AXE = 金斧
DIAMOND_AXE = 钻石斧
WOODEN_SHOVEL = 木锹
STONE_SHOVEL = 石锹
IRON_SHOVEL = 铁锹
GOLDEN_SHOVEL = 金锹
GOLD_SHOVEL = 金锹
DIAMOND_SHOVEL = 钻石锹
WOODEN_HOE = 木锄
STONE_HOE = 石锄
IRON_HOE = 铁锄
GOLDEN_HOE = 金锄
GOLD_HOE = 金锄
DIAMOND_HOE = 钻石锄
BOW = 弓
FISHING_ROD = 钓鱼竿
SHEARS = 剪刀
FLINT_AND_STEEL = 打火石
ELYTRA = 鞘翅
BROKEN_ELYTRA = 破损的鞘翅
SHIELD = 盾牌

# 盔甲
LEATHER_HELMET = 皮革头盔
LEATHER_CHESTPLATE = 皮革胸甲
LEATHER_LEGGINGS = 皮革护腿
LEATHER_BOOTS = 皮革靴子
CHAINMAIL_HELMET = 锁链头盔
CHAINMAIL_CHESTPLATE = 锁链胸甲
CHAINMAIL_LEGGINGS = 锁链护腿
CHAINMAIL_BOOTS = 锁链靴子
IRON_HELMET = 铁头盔
IRON_CHESTPLATE = 铁胸甲
IRON_LEGGINGS = 铁护腿
IRON_BOOTS = 铁靴子
GOLDEN_HELMET = 金头盔
GOLDEN_CHESTPLATE = 金胸甲
GOLDEN_LEGGINGS = 金护腿
GOLDEN_BOOTS = 金靴子
GOLD_HELMET = 金头盔
GOLD_CHESTPLATE = 金胸甲
GOLD_LEGGINGS = 金护腿
GOLD_BOOTS = 金靴子
DIAMOND_HELMET = 钻石头盔
DIAMOND_CHESTPLATE = 钻石胸甲
DIAMOND_LEGGINGS = 钻石护腿
DIAMOND_BOOTS = 钻石靴子

# 常见方块
STONE = 石头
GRASS = 草方块
GRASS_BLOCK = 草方块
DIRT = 泥土
COBBLESTONE = 圆石
WOOD = 木板
OAK_PLANKS = 橡木木板
SPRUCE_PLANKS = 云杉木板
BIRCH_PLANKS = 白桦木板
JUNGLE_PLANKS = 丛林木板
ACACIA_PLANKS = 金合欢木板
DARK_OAK_PLANKS = 深色橡木木板
SAPLING = 树苗
BEDROCK = 基岩
WATER = 水
LAVA = 岩浆
SAND = 沙子
GRAVEL = 沙砾
GOLD_ORE = 金矿石
IRON_ORE = 铁矿石
COAL_ORE = 煤矿石
LOG = 原木
OAK_LOG = 橡木原木
SPRUCE_LOG = 云杉原木
BIRCH_LOG = 白桦原木
JUNGLE_LOG = 丛林原木
ACACIA_LOG = 金合欢原木
DARK_OAK_LOG = 深色橡木原木
LEAVES = 树叶
OAK_LEAVES = 橡木树叶
GLASS = 玻璃
LAPIS_ORE = 青金石矿石
LAPIS_BLOCK = 青金石块
SANDSTONE = 砂岩
CHISELED_SANDSTONE = 錾制砂岩
SMOOTH_SANDSTONE = 平滑砂岩

# 食物和消耗品
APPLE = 苹果
GOLDEN_APPLE = 金苹果
BREAD = 面包
PORKCHOP = 生猪肉
COOKED_PORKCHOP = 熟猪肉
GRILLED_PORK = 熟猪肉
COOKIE = 曲奇
MELON = 西瓜
BEEF = 生牛肉
COOKED_BEEF = 熟牛肉
RAW_BEEF = 生牛肉
CHICKEN = 生鸡肉
COOKED_CHICKEN = 熟鸡肉
RAW_CHICKEN = 生鸡肉
CARROT = 胡萝卜
GOLDEN_CARROT = 金胡萝卜
CARROT_ON_A_STICK = 胡萝卜钓竿
POTATO = 马铃薯
POTATO_ITEM = 马铃薯
BAKED_POTATO = 烤马铃薯
MUSHROOM_STEW = 蘑菇煲
CAKE = 蛋糕
PUMPKIN_PIE = 南瓜派
ROTTEN_FLESH = 腐肉
CHORUS_FRUIT = 紫颂果
CHORUS_FRUIT_POPPED = 爆裂紫颂果
POISONOUS_POTATO = 毒马铃薯
BEETROOT = 甜菜根
BEETROOT_SOUP = 甜菜汤
BEETROOT_SEEDS = 甜菜种子
RABBIT_STEW = 兔肉煲
SPIDER_EYE = 蜘蛛眼
FERMENTED_SPIDER_EYE = 发酵蜘蛛眼
COD = 生鳕鱼
COOKED_COD = 熟鳕鱼
RAW_FISH = 生鳕鱼
COOKED_FISH = 熟鳕鱼
SALMON = 生鲑鱼
COOKED_SALMON = 熟鲑鱼
TROPICAL_FISH = 热带鱼
PUFFERFISH = 河豚
RABBIT = 生兔肉
COOKED_RABBIT = 熟兔肉
MUTTON = 生羊肉
COOKED_MUTTON = 熟羊肉
BOWL = 碗
MILK_BUCKET = 牛奶桶
WATER_BUCKET = 水桶
LAVA_BUCKET = 岩浆桶

# 重要物品和材料
ARROW = 箭
COAL = 煤炭
CHARCOAL = 木炭
DIAMOND = 钻石
IRON_INGOT = 铁锭
GOLD_INGOT = 金锭
EMERALD = 绿宝石
STICK = 木棍
STRING = 线
FEATHER = 羽毛
GUNPOWDER = 火药
SULPHUR = 火药
WHEAT = 小麦
WHEAT_SEEDS = 小麦种子
FLINT = 燧石
REDSTONE = 红石
GLOWSTONE_DUST = 荧石粉
EGG = 鸡蛋
LAPIS_LAZULI = 青金石
COMPASS = 指南针
CLOCK = 时钟
SUGAR = 糖
ENDER_PEARL = 末影珍珠
CLAY_BALL = 黏土球
LEATHER = 皮革
BLAZE_ROD = 烈焰棒
BLAZE_POWDER = 烈焰粉
MAGMA_CREAM = 岩浆膏
BREWING_STAND = 酿造台
CAULDRON = 炼药锅
BOOK = 书
ENCHANTED_BOOK = 附魔书
WRITTEN_BOOK = 成书
WRITABLE_BOOK = 可写的书
PAPER = 纸
QUARTZ = 下界石英
NETHER_BRICK = 下界砖
NETHER_STAR = 下界之星
SADDLE = 鞍
IRON_HORSE_ARMOR = 铁马铠
GOLDEN_HORSE_ARMOR = 金马铠
DIAMOND_HORSE_ARMOR = 钻石马铠
BUCKET = 桶
MINECART = 矿车
OAK_BOAT = 橡木船
BIRCH_BOAT = 白桦木船
ACACIA_BOAT = 金合欢木船
WOODEN_DOOR = 木门
IRON_DOOR = 铁门
EXPERIENCE_BOTTLE = 附魔之瓶
ENDER_EYE = 末影之眼
GHAST_TEAR = 恶魂之泪
NETHER_WART = 下界疣
BONE = 骨头
BARRIER = 屏障

# 药水和特殊物品
POTION = 药水
SPLASH_POTION = 喷溅药水
LINGERING_POTION = 滞留药水
DRAGON_BREATH = 龙息
DRAGONS_BREATH = 龙息
SPAWN_EGG = 刷怪蛋
FIREWORK_ROCKET = 烟花火箭
FIREWORK_STAR = 烟花之星
FIREWORK_CHARGE = 烟花之星
FIREWORK = 烟花火箭
MAP = 空地图
FILLED_MAP = 地图
BANNER = 旗帜
SIGN = 告示牌
NAME_TAG = 命名牌
MUSIC_DISC_11 = 11号唱片
MUSIC_DISC_13 = 13号唱片
MUSIC_DISC_BLOCKS = 方块唱片
MUSIC_DISC_CAT = 猫唱片
MUSIC_DISC_CHIRP = 吱吱唱片
MUSIC_DISC_FAR = 遥远唱片
MUSIC_DISC_MALL = 商场唱片
MUSIC_DISC_MELLOHI = 马勒基唱片
MUSIC_DISC_STAL = 静谧唱片
MUSIC_DISC_STRAD = 斯特拉德唱片
MUSIC_DISC_WAIT = 等待唱片
MUSIC_DISC_WARD = 卫道士唱片
SKELETON_SKULL = 骷髅头
WITHER_SKELETON_SKULL = 凋零骷髅头
ZOMBIE_HEAD = 僵尸头
PLAYER_HEAD = 玩家头
CREEPER_HEAD = 苦力怕头
GLASS_BOTTLE = 玻璃瓶
LEAD = 拴绳
SLIME_BALL = 粘液球

# 染料
BLACK_DYE = 黑色染料
BLUE_DYE = 蓝色染料
BROWN_DYE = 棕色染料
CYAN_DYE = 青色染料
GRAY_DYE = 灰色染料
GREEN_DYE = 绿色染料
LIGHT_BLUE_DYE = 淡蓝色染料
LIME_DYE = 黄绿色染料
MAGENTA_DYE = 品红色染料
ORANGE_DYE = 橙色染料
PINK_DYE = 粉红色染料
PURPLE_DYE = 紫色染料
RED_DYE = 红色染料
LIGHT_GRAY_DYE = 淡灰色染料
WHITE_DYE = 白色染料
YELLOW_DYE = 黄色染料

INK_SACK = 墨囊
INK_SACK:0 = 黑色墨囊
INK_SACK:1 = 红色墨囊
INK_SACK:2 = 绿色墨囊
INK_SACK:3 = 棕色墨囊
INK_SACK:4 = 蓝色墨囊
INK_SACK:5 = 紫色墨囊
INK_SACK:6 = 青色墨囊
INK_SACK:7 = 灰色墨囊
INK_SACK:8 = 粉色墨囊
INK_SACK:9 = 黄色墨囊
INK_SACK:10 = 浅蓝色墨囊
INK_SACK:11 = 绿色墨囊
INK_SACK:12 = 橙色墨囊
INK_SACK:13 = 红色墨囊
INK_SACK:14 = 紫色墨囊
INK_SACK:15 = 白色墨囊
PRISMARINE_CRYSTALS = 海晶砂粒
PRISMARINE_SHARD = 海晶碎片
WATCH = 时钟
NETHER_BRICK_ITEM = 下界砖
CLAY_BALL = 黏土球
GOLD_SPADE = 金铲子
SUGAR_CANE = 甘蔗
GLASS_BOTTLE = 玻璃瓶
BOAT = 船

# 头颅特殊处理
SKULL_ITEM = 头颅
SKULL_ITEM:0 = 骷髅头
SKULL_ITEM:1 = 凋零骷髅头
SKULL_ITEM:2 = 僵尸头
SKULL_ITEM:3 = 玩家头
SKULL_ITEM:4 = 苦力怕头

# 补充可能的头颅ID映射
SKULL = 骷髅头
SKULL:0 = 骷髅头
SKULL:1 = 凋零骷髅头
SKULL:2 = 僵尸头
SKULL:3 = 玩家头
SKULL:4 = 苦力怕头
SKELETON_HEAD = 骷髅头
HEAD = 玩家头
PLAYER_SKULL = 玩家头
ZOMBIE_SKULL = 僵尸头
CREEPER_SKULL = 苦力怕头
HEAD_ITEM = 玩家头
HEAD_ITEM:3 = 玩家头
MOB_HEAD = 生物头颅
MOB_HEAD:0 = 骷髅头
MOB_HEAD:1 = 凋零骷髅头
MOB_HEAD:2 = 僵尸头
MOB_HEAD:3 = 玩家头
MOB_HEAD:4 = 苦力怕头

# 补充旧版本金装备ID
GOLD_SWORD = 金剑
GOLD_PICKAXE = 金镐
GOLD_AXE = 金斧
GOLD_SHOVEL = 金锹
GOLDEN_SPADE = 金锹
GOLD_SPADE = 金锹
GOLD_HOE = 金锄 